body{
    font-family: 'Montserrat', sans-serif;
    background:url('https://i.ibb.co/vw0pcrr/alien.jpg'),linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.card{
    width: 250px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;
}
.photo{
    width: 80px;
    border-radius: 50px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aqua;
}
.home-container{
    display: flex;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 600px;
}